swagger: '2.0'
info:
  title: Translator Knowledge Beacon API
  version: 1.0.11
  contact:
    responsibleDeveloper: Richard Bruskiewich
    responsibleOrganization: STAR Informatics/Delphinai Corporation
    url: 'http://starinformatics.com'
    email: richard@starinformatics.com
  description: >
    This is the Translator Knowledge Beacon web service application programming
    interface (API).  This OpenAPI ("Swagger") document may be used as the input
    specification into a tool like
    [Swagger-Codegen](https://github.com/swagger-api/swagger-codegen/blob/master/README.md)
    to generate client and server code stubs implementing the API, in any one of
    several supported computer languages and frameworks. In order to customize
    usage to your web site, you should change the 'host' directive below to your
    hostname.
host: api.knowledge.bio
basePath: /api
schemes:
  - http
produces:
  - application/json
tags:
  - name: concepts
    description: Queries for concepts
  - name: exactmatches
    description: >-
      Queries for exactly matching concepts *sensa*-SKOS;
      http://www.w3.org/2004/02/skos/core#exactMatch
  - name: statements
    description: Queries for concept-relationship statements
  - name: evidence
    description: Queries for references cited as evidence for statements
paths:
  '/concepts/{conceptId}':
    get:
      description: >
        Retrieves details for a specified concepts in the system, as specified
        by a (url-encoded) CURIE identifier of a concept known the given knowledge source.
      tags:
        - concepts
      parameters:
        - name: conceptId
          in: path
          description: (url-encoded) CURIE identifier of concept of interest
          required: true
          type: string
      operationId: getConceptDetails
      responses:
        '200':
          schema:
            type: array
            items:
              type: object
              properties:
                id:
                  type: string
                  description: >
                    local object identifier for the concept in the specified
                    knowledge source database
                name:
                  type: string
                  description: |
                    canonical human readable name of the concept
                semanticGroup:
                  type: string
                  description: |
                    concept semantic type
                synonyms:
                  type: array
                  description: |
                    list of synonyms for concept
                  items:
                    type: string
                definition:
                  type: string
                  description: |
                    concept definition
                details:
                  type: array
                  items:
                    type: object
                    properties:
                      tag:
                        type: string
                        description: |
                          property name
                      value:
                        type: string
                        description: |
                          property value
          description: |
            Successful response with concept details returned
          examples:
            application/json:
              - id: 'wd:Q14883734'
                name: WRN
                semanticGroup: GENE
                synonyms: []
                definition: Werner Syndrome Gene
                details: []
  /concepts:
    get:
      description: |
        Retrieves a (paged) list of concepts in the system
      tags:
        - concepts
      parameters:
        - name: keywords
          in: query
          description: >-
            a (urlencoded) space delimited set of keywords or substrings against
            which to match concept names and synonyms
          required: true
          type: string
        - name: semgroups
          in: query
          description: >
            a (url-encoded) space-delimited set of semantic groups (specified as
            codes CHEM, GENE, ANAT, etc.) to which to constrain concepts matched
            by the main keyword search (see
            [SemGroups](https://metamap.nlm.nih.gov/Docs/SemGroups_2013.txt) for
            the full list of codes)
          required: false
          type: string
        - name: pageNumber
          in: query
          description: |
            (1-based) number of the page to be returned in a paged set of query
            results
          required: false
          type: integer
        - name: pageSize
          in: query
          description: |
            number of concepts per page to be returned in a paged set of query
            results
          required: false
          type: integer
      operationId: getConcepts
      responses:
        '200':
          schema:
            type: array
            items:
              type: object
              properties:
                id:
                  type: string
                  description: >
                    local object identifier for the concept in the specified knowledge source database
                name:
                  type: string
                  description: |
                    canonical human readable name of the concept
                semanticGroup:
                  type: string
                  description: |
                    concept semantic type
                synonyms:
                  type: array
                  description: |
                    list of synonyms for concept
                  items:
                    type: string
                definition:
                  type: string
                  description: |
                    concept definition
          description: |
            Successful response with concept list returned
          examples:
            application/json:
            - id: 'wd:Q2898645'
              name: Neonatal diabetes mellitus
              semanticGroup: DISO
              synonyms: []
              definition: Neonatal diabetes mellitus
            - id: 'wd:Q631361'
              name: Diabetic Retinopathy
              semanticGroup: DISO
              synonyms: []
              definition: >-
                diabetic eye disease when damage occurs to the retina due to
                diabetes.
  '/exactmatches/{conceptId}':
    get:
      description: >
        Retrieves a list of qualified identifiers of "exact match" concepts,
        [sensa SKOS](http://www.w3.org/2004/02/skos/core#exactMatch) associated with a
        specified (url-encoded) CURIE (without brackets) concept object identifier, 
        typically, of a concept selected from the list of concepts originally returned by a
        /concepts API call on a given KS. 
      tags:
        - exactmatches
      parameters:
        - name: conceptId
          in: path
          description: (url-encoded) CURIE identifier of the concept to be matched
          required: true
          type: string
      operationId: getExactMatchesToConcept
      responses:
        '200':
          description: >
            Successful response returns a set of
            [CURIE](https://www.w3.org/TR/curie/) identifiers to 3rd party
            concepts defined outside of the local KS, which are deemed semantic
            exact matches [*sensa*-SKOS](http://www.w3.org/2004/02/skos/core#exactMatch) to  the specified identified concept (maybe an empty set?)
          schema:
            type: array
            items:
              type: string
          examples:
            application/json:
              [ 'wd:Q14883734', 'NCBIGene:7486' ]
  /exactmatches:
    get:
      description: >
        Given an input list of [CURIE](https://www.w3.org/TR/curie/) identifiers
        of known exactly matched concepts [*sensa*-SKOS](http://www.w3.org/2004/02/skos/core#exactMatch), retrieves the list of [CURIE](https://www.w3.org/TR/curie/) identifiers of **additional** concepts that are deemed by the given knowledge source to be exact matches to one or more of the input concepts.  If an empty set is returned, the it can be assumed that the given knowledge source does not know of any new equivalent concepts to add to the input set.
      tags:
        - exactmatches
      parameters:
        - name: c
          in: query
          description: >
            set of [CURIE-encoded](https://www.w3.org/TR/curie/) identifiers of exactly
            matching concepts, to be used in a search for additional exactly
            matching concepts [*sensa*-SKOS](http://www.w3.org/2004/02/skos/core#exactMatch).
          required: true
          type: array
          items:
            type: string
      operationId: getExactMatchesToConceptList
      responses:
        '200':
          description: >
            Successful response returns a set of
            [CURIE-encoded](https://www.w3.org/TR/curie/) identifiers of
            concepts (with supporting evidence code and reference) matching at
            least one identifier in the input list of known exactly matched
            concepts [*sensa*-SKOS](http://www.w3.org/2004/02/skos/core#exactMatch). Each concept
            identifier is returned with  the full list of any additional
            associated [CURIE-encoded](https://www.w3.org/TR/curie/) identifiers
            of exact match concepts known to the given Knowledge Source.
          schema:
            type: array
            items:
              type: string
              description: >
                [CURIE](https://www.w3.org/TR/curie/) identifier of an exact matching concept not yet listed in the input set of exact matching concepts.
          examples:
            application/json:
              [ 'wd:Q14883734', 'NCBIGene:7486' ]
  /statements:
    get:
      description: >
        Given a list of [CURIE-encoded](https://www.w3.org/TR/curie/)
        identifiers of exactly matching concepts, retrieves a paged list of
        concept-relations where either the subject or object concept matches at
        least one concept in the input list
      tags:
        - statements
      parameters:
        - name: c
          in: query
          description: >
            set of [CURIE-encoded](https://www.w3.org/TR/curie/) identifiers of exactly
            matching concepts to be used in a search for associated
            concept-relation statements
          required: true
          type: array
          items:
            type: string
        - name: pageNumber
          in: query
          description: |
            (1-based) number of the page to be returned in a paged set of query
            results
          required: false
          type: integer
        - name: pageSize
          in: query
          description: |
            number of concepts per page to be returned in a paged set of query
            results
          required: false
          type: integer
        - name: keywords
          in: query
          description: >
            a (url-encoded, space-delimited) string of keywords or substrings against
            which to match the subject, predicate or object names of the
            set of concept-relations matched by any of the input exact matching
            concepts
          required: false
          type: string
        - name: semgroups
          in: query
          description: >
            a (url-encoded, space-delimited) string of semantic groups (specified as
            codes CHEM, GENE, ANAT, etc.) to which to constrain the subject or
            object concepts associated with the query seed concept (see
            [SemGroups](https://metamap.nlm.nih.gov/Docs/SemGroups_2013.txt) for
            the full list of codes)
          required: false
          type: string
      operationId: getStatements
      responses:
        '200':
          description: >
            Successful response returns a list of concept-relations where there is an exact match of an input concept identifier either to the subject or object concepts of the statement
          schema:
            type: array
            items:
              type: object
              properties:
                id:
                  type: string
                  description: CURIE-encoded identifier for statement (can be used to retrieve associated evidence)
                subject:
                  type: object
                  properties:
                    id:
                      type: string
                      description: |
                        CURIE-encoded identifier of concept
                    name:
                      type: string
                      description: human readable label of subject concept
                predicate:
                  type: object
                  properties:
                    id:
                      type: string
                      description: |
                        CURIE-encoded identifier of predicate resource
                    name:
                      type: string
                      description: human readable label of concept
                object:
                  type: object
                  properties:
                    id:
                      type: string
                      description: |
                        CURIE-encoded identifier of object concept
                    name:
                      type: string
                      description: human readable label of object concept
          examples:
            application/json:
              - source: semmeddb
                id: kb:12345
                subject:
                  id:
                    - 'wd:Q14912054'
                  name: KCNJ11
                predicate:
                  id:
                    - 'kbp:10'
                  name: Causes
                object:
                  id:
                    - 'wd:Q2898645'
                  name: Neonatal diabetes mellitus
  '/evidence/{statementId}':
    get:
      description: >
        Retrieves a (paged) list of annotations cited as evidence for a specified concept-relationship statement
      tags:
        - evidence
      parameters:
        - name: statementId
          in: path
          description: >
            (url-encoded) CURIE identifier of the concept-relationship statement ("assertion", "claim") for which associated evidence is sought
          required: true
          type: string
        - name: keywords
          in: query
          description: >
            (url-encoded, space delimited) keyword filter to apply against the label field of the annotation
          required: false
          type: string
        - name: pageNumber
          in: query
          description: |
            (1-based) number of the page to be returned in a paged set of query
            results
          required: false
          type: integer
        - name: pageSize
          in: query
          description: >
            number of cited references per page to be returned in a paged set of query results
          required: false
          type: integer
      operationId: getEvidence
      responses:
        '200':
          description: >
            successful call returns a list of annotation with metadata
          schema:
            type: array
            items:
              type: object
              properties:
                id:
                  type: string
                  description: |
                    CURIE-encoded identifier to an associated external resources (e.g. PMID of a pubmed citation)
                label:
                  type: string
                  description: |
                    canonical human readable and searchable label of the annotation (i.e. comment, matched sentence, etc.)
                date:
                  type: string
                  description: |
                    publication date of annotation (generally of format 'yyyy-mm-dd')
          examples:
            application/json:
              - id:
                  - 'pmid:22781086'
                label: >-
                  Neonatal diabetes mellitus and congenital diaphragmatic hernia
                  coincidence or concurrent etiology?
                date: 2012-07-10
