swagger: '2.0'
info:
  title: Translator Knowledge Beacon API
  version: 1.0.16
  contact:
    url: 'http://starinformatics.com'
    email: richard@starinformatics.com
  description: >
    This is the Translator Knowledge Beacon web service application programming
    interface (API).
  license:
    name: MIT License
    url: 'http://opensource.org/licenses/MIT'
host: reference-beacon.ncats.io
basePath: /
schemes:
  - https
produces:
  - application/json
tags:
  - name: metadata
    description: Queries about global characteristics of the knowledge source
  - name: concepts
    description: Queries relating to concepts
  - name: statements
    description: Queries relating to concept-relationship statements and their evidence
paths:
  /types:
    get:
      description: >
        Get a list of types and # of instances in the knowledge source, and a
        link to the API call for the list of equivalent terminology
      tags:
        - metadata
      operationId: getConceptTypes
      responses:
        '200':
          schema:
            type: array
            items:
              title: BeaconConceptType
              type: object
              properties:
                id:
                  type: string
                  description: |
                    the type 
                idmap:
                  type: string
                  description: The URL to execute the exactmatches API call on the id
                frequency:
                  type: integer
                  description: |
                    the number of instances of the specified type
          description: |
            Successful response with types and frequency returned
          examples:
            application/json:
              - id: gene
                frequency: 12355
                idmap: 'https://biolink.github.io/biolink-model/docs/Gene.html'
              - id: cell
                frequency: 1234
                idmap: 'https://biolink.github.io/biolink-model/docs/Cell.html'
  /predicates:
    get:
      description: >
        Get a list of predicates used in statements issued by the knowledge
        source
      tags:
        - metadata
      operationId: getPredicates
      responses:
        '200':
          schema:
            type: array
            items:
              title: BeaconPredicate
              type: object
              properties:
                id:
                  type: string
                  description: |
                    CURIE-encoded identifier of predicate resource
                name:
                  type: string
                  description: |
                    human readable name of predicate relation
                definition:
                  type: string
                  description: >
                    human readable definition of predicate relation provided by
                    this beacon
          description: >
            Successful response with predicates with CURIE and definitions
            indexed by beacons which support the relation
          examples:
            application/json:
              - id: 'wd:P123'
                name: interacts with
                definition: influences in some manner
              - id: 'wd:P456'
                name: has phenotype
                definition: exhibits biological morphology or behaviour
  /kmap:
    get:
      description: >
        Get a high level knowledge map of the all the beacons by subject
        semantic type, predicate and semantic object type
      tags:
        - metadata
      operationId: getKnowledgeMap
      responses:
        '200':
          schema:
            type: array
            items:
              title: BeaconKnowledgeMapStatement
              type: object
              properties:
                subject:
                  title: BeaconKnowledgeMapSubject
                  type: object
                  properties:
                    type:
                      type: string
                      description: |
                        the concept semantic type of a statement subject
                    prefixes:
                      type: array
                      items:
                        type: string
                        description: >
                          the prefix of the namespace of statement subject
                          concept identifiers which may conceivably be bound to
                          the given relationship
                predicate:
                  title: BeaconKnowledgeMapPredicate
                  type: object
                  properties:
                    id:
                      type: string
                      description: CURIE of the predicate of the given relationship
                    name:
                      type: string
                      description: human readable name of the given relationship predicate
                object:
                  title: BeaconKnowledgeMapObject
                  type: object
                  properties:
                    type:
                      type: string
                      description: |
                        the concept semantic type of a statement object
                    prefixes:
                      type: array
                      items:
                        type: string
                        description: >
                          the prefix of the namespace of statement object
                          concept identifiers which may conceivably be bound to
                          the given relationship
                frequency:
                  type: integer
                  description: >
                    the frequency of statements of the specified relationship
                    within the given beacon
                description:
                  type: string
                  description: |
                    a description of the nature of the relationship
          description: |
            Successful response with types and frequency returned
          examples:
            application/json:
              - subject:
                  type: gene
                  prefixes:
                    - DRUGBANK
                    - CHEMBL
                    - UNIPROT
                predicate:
                  id: 'RO:0002606'
                  label: is substance that treats
                object:
                  type: disease or phenotypic feature
                  prefixes:
                    - MP
                    - HP
                    - DOID
                count: 500
                description: >
                  a small molecule or compound that is capable of some activity
                  that negative regulates or decreases the magnitude of a
                  pathological process, phenotype or disease
              - subject:
                  type: drug
                  prefixes:
                    - DRUGBANK
                    - CHEMBL
                predicate:
                  id: 'SIO:001250'
                  label: chemical to pathway association
                object:
                  type: pathway
                  prefixes:
                    - KEGG
                count: 100
                description: |
                  Drug interacts with a given protein
  /concepts:
    get:
      description: |
        Retrieves a (paged) list of whose concept in the 
        beacon knowledge base with names and/or synonyms 
        matching a set of keywords or substrings. 
        The (possibly paged) results returned should generally 
        be returned in order of the quality of the match, 
        that is, the highest ranked concepts should exactly 
        match the most keywords, in the same order as the 
        keywords were given. Lower quality hits with fewer 
        keyword matches or out-of-order keyword matches, 
        should be returned lower in the list.
      tags:
        - concepts
      parameters:
        - name: keywords
          in: query
          description: >-
            a (urlencoded) space delimited set of keywords or substrings against
            which to match concept names and synonyms
          required: true
          type: string
        - name: types
          in: query
          description: >
            a (url-encoded) space-delimited set of semantic groups (specified as
            codes gene, pathway, etc.) to which to constrain concepts matched by
            the main keyword search (see [Biolink
            Model](https://biolink.github.io/biolink-model) for the full list of
            codes)
          required: false
          type: string
        - name: pageNumber
          in: query
          description: |
            (1-based) number of the page to be returned in a paged set of query
            results
          required: false
          type: integer
        - name: pageSize
          in: query
          description: |
            number of concepts per page to be returned in a paged set of query
            results
          required: false
          type: integer
      operationId: getConcepts
      responses:
        '200':
          schema:
            type: array
            items:
              title: BeaconConcept
              type: object
              properties:
                id:
                  type: string
                  description: >
                    local object identifier for the concept in the specified
                    knowledge source database
                name:
                  type: string
                  description: |
                    canonical human readable name of the concept
                type:
                  type: string
                  description: |
                    concept semantic type
                synonyms:
                  type: array
                  description: |
                    list of synonyms for concept
                  items:
                    type: string
                definition:
                  type: string
                  description: |
                    concept definition
          description: |
            Successful response with concept list returned
          examples:
            application/json:
              - id: 'wd:Q6591532'
                name: 'WRN protein, human'
                type: chemical substance
                synonyms:
                  - RecQ3
                  - Werner Syndrome ATP-Dependent Helicase
                  - 'RECQL2 protein, human'
                  - EC 3.1.-.-
                  - 'WRN protein, human'
                  - WRN
                  - Exonuclease WRN
                  - Werner Syndrome Protein
                  - RecQ Protein-Like 2
                  - EC 3.6.4.12
                  - 'RECQ3 protein, human'
                  - 'Werner syndrome helicase, human'
                  - WRN Protein
                  - 'DNA Helicase, RecQ-Like Type 3'
                definition: >-
                  Werner syndrome ATP-dependent helicase (1432 aa, ~162 kDa) is
                  encoded by the human WRN gene. This protein plays a role in
                  both magnesium and ATP-dependent DNA-helicase activity and
                  3\'->5\' exonuclease activity towards double-stranded DNA with
                  a 5\'-overhang.
              - id: 'wd:Q18042562'
                name: WRNIP1
                type: gene
                synonyms:
                  - WHIP
                  - Werner helicase interacting protein 1
                  - WRNIP1
                  - bA420G6.2
                definition: human gene
              - id: 'wd:Q14883734'
                name: WRN
                type: gene
                synonyms:
                  - RECQ3
                  - RECQL3
                  - Werner syndrome RecQ like helicase
                  - RECQL2
                definition: human gene
              - id: 'wd:Q1154619'
                name: Werner Syndrome
                type: disease
                synonyms:
                  - Werner Syndrome
                  - Pangeria
                  - 'Syndrome, Werner'
                  - 'Progeria, Adult'
                  - 'Werner Syndrome [Disease/Finding]'
                  - Werner syndrome (disorder)
                  - adult progeria
                  - Werner
                  - syndromes werner
                  - 'Syndrome, Werner\''s'
                  - WRN
                  - Werner\'s syndrome
                  - adults progeria
                  - Werner syndrome (adult progeria) (diagnosis)
                  - Werner syndrome (adult progeria)
                  - 'Syndrome, Werners'
                  - Adult premature aging syndrome
                  - syndromes werner\'s
                  - Werners Syndrome
                  - syndrome werner
                  - Progeria of the adult
                  - WS
                  - syndromes werners
                  - Adult premature ageing syndrome
                definition: >-
                  autosomal recessive disorder that causes premature aging in
                  adults, characterized by sclerodermal skin changes, cataracts,
                  subcutaneous calcifications, muscular atrophy, a tendency to
                  diabetes mellitus, aged appearance of the face, baldness, and
                  a high incidence of neoplastic disease.
  '/concepts/{conceptId}':
    get:
      description: >
        Retrieves details for a specified concepts in the system, as specified
        by a (url-encoded) CURIE identifier of a concept known the given
        knowledge source.
      tags:
        - concepts
      parameters:
        - name: conceptId
          in: path
          description: (url-encoded) CURIE identifier of concept of interest
          required: true
          type: string
      operationId: getConceptDetails
      responses:
        '200':
          schema:
            type: array
            items:
              title: BeaconConceptWithDetails
              type: object
              properties:
                id:
                  type: string
                  description: >
                    local object identifier for the concept in the specified
                    knowledge source database
                name:
                  type: string
                  description: |
                    canonical human readable name of the concept
                type:
                  type: string
                  description: |
                    concept semantic type
                synonyms:
                  type: array
                  description: |
                    list of synonyms for concept
                  items:
                    type: string
                definition:
                  type: string
                  description: |
                    concept definition
                details:
                  type: array
                  items:
                    title: BeaconConceptDetail
                    type: object
                    properties:
                      tag:
                        type: string
                        description: |
                          property name
                      value:
                        type: string
                        description: |
                          property value
          description: |
            Successful response with concept details returned
          examples:
            application/json:
              - id: 'wd:Q14883734'
                name: WRN
                type: gene
                synonyms: []
                definition: Werner Syndrome Gene
                details: []
  '/exactmatches/{conceptId}':
    get:
      description: >
        Retrieves a list of qualified identifiers of "exact match" concepts,
        [sensa SKOS](http://www.w3.org/2004/02/skos/core#exactMatch) associated
        with a specified (url-encoded) CURIE (without brackets) concept object
        identifier,  typically, of a concept selected from the list of concepts
        originally returned by a /concepts API call on a given KS. 
      tags:
        - concepts
      parameters:
        - name: conceptId
          in: path
          description: (url-encoded) CURIE identifier of the concept to be matched
          required: true
          type: string
      operationId: getExactMatchesToConcept
      responses:
        '200':
          description: >
            Successful response returns a set of
            [CURIE](https://www.w3.org/TR/curie/) identifiers to 3rd party
            concepts defined outside of the local KS, which are deemed semantic
            exact matches
            [*sensa*-SKOS](http://www.w3.org/2004/02/skos/core#exactMatch) to 
            the specified identified concept (maybe an empty set?)
          schema:
            type: array
            items:
              type: string
          examples:
            application/json:
              - 'wd:Q14883734'
              - 'NCBIGene:7486'
  /exactmatches:
    get:
      description: >
        Given an input list of [CURIE](https://www.w3.org/TR/curie/) identifiers
        of known exactly matched concepts
        [*sensa*-SKOS](http://www.w3.org/2004/02/skos/core#exactMatch),
        retrieves the list of [CURIE](https://www.w3.org/TR/curie/) identifiers
        of additional concepts that are deemed by the given knowledge source to
        be exact matches to one or more of the input concepts **plus** whichever
        identifiers from the input list which specifically matched these new
        additional concepts.  If an empty set is returned, the it can be assumed
        that the given  knowledge source does not know of any new equivalent
        concepts matching the input set.
      tags:
        - concepts
      parameters:
        - name: c
          in: query
          description: >
            set of [CURIE-encoded](https://www.w3.org/TR/curie/) identifiers of
            exactly matching concepts, to be used in a search for additional
            exactly matching concepts
            [*sensa*-SKOS](http://www.w3.org/2004/02/skos/core#exactMatch).
          required: true
          type: array
          items:
            type: string
      operationId: getExactMatchesToConceptList
      responses:
        '200':
          description: >
            Successful response returns a set of
            [CURIE-encoded](https://www.w3.org/TR/curie/) identifiers of
            concepts (with supporting evidence code and reference) matching at
            least one identifier in the input list of known exactly matched
            concepts
            [*sensa*-SKOS](http://www.w3.org/2004/02/skos/core#exactMatch). Each
            concept identifier is returned with  the full list of any additional
            associated [CURIE-encoded](https://www.w3.org/TR/curie/) identifiers
            of exact match concepts known to the given Knowledge Source.
          schema:
            type: array
            items:
              type: string
              description: >
                [CURIE](https://www.w3.org/TR/curie/) identifier of an exact
                matching concept not yet listed in the input set of exact
                matching concepts.
          examples:
            application/json:
              - 'wd:Q14883734'
              - 'NCBIGene:7486'
  /statements:
    get:
      description: >
        Given a specified set of [CURIE-encoded](https://www.w3.org/TR/curie/) 
        'source' ('s') concept identifiers,  retrieves a paged list of
        relationship statements where either the subject or object concept
        matches any of the input 'source' concepts provided.  Optionally, a set
        of 'target' ('t') concept  identifiers may also be given, in which case
        a member of the 'target' identifier set should match the concept
        opposing the 'source' in the  statement, that is, if the'source' matches
        a subject, then the  'target' should match the object of a given
        statement (or vice versa).
      tags:
        - statements
      parameters:
        - name: s
          in: query
          description: >
            a set of [CURIE-encoded](https://www.w3.org/TR/curie/) identifiers
            of  'source' concepts possibly known to the beacon. Unknown CURIES
            should simply be ignored (silent match failure).
          required: true
          type: array
          items:
            type: string
        - name: relations
          in: query
          description: >
            a (url-encoded, space-delimited) string of predicate relation
            identifiers with which to constrain the statement relations
            retrieved  for the given query seed concept. The predicate ids sent
            should  be as published by the beacon-aggregator by the /predicates
            API endpoint.
          required: false
          type: string
        - name: t
          in: query
          description: >
            (optional) an array set of
            [CURIE-encoded](https://www.w3.org/TR/curie/)  identifiers of
            'target' concepts possibly known to the beacon.  Unknown CURIEs
            should simply be ignored (silent match failure).
          required: false
          type: array
          items:
            type: string
        - name: keywords
          in: query
          description: >
            a (url-encoded, space-delimited) string of keywords or substrings
            against which to match the subject, predicate or object names of the
            set of concept-relations matched by any of the input exact matching
            concepts
          required: false
          type: string
        - name: types
          in: query
          description: >
            a (url-encoded, space-delimited) string of concept types (specified
            as codes gene, pathway, etc.) to which to constrain the subject or
            object concepts associated with the query seed concept (see [Biolink
            Model](https://biolink.github.io/biolink-model) for the full list of
            codes)
          required: false
          type: string
        - name: pageNumber
          in: query
          description: |
            (1-based) number of the page to be returned in a paged set of query
            results
          required: false
          type: integer
        - name: pageSize
          in: query
          description: |
            number of concepts per page to be returned in a paged set of query
            results
          required: false
          type: integer
      operationId: getStatements
      responses:
        '200':
          description: >
            Successful response returns a list of concept-relations where there
            is an exact match of an input concept identifier either to the
            subject or object concepts of the statement
          schema:
            type: array
            items:
              title: BeaconStatement
              type: object
              properties:
                id:
                  type: string
                  description: >-
                    CURIE-encoded identifier for statement (can be used to
                    retrieve associated evidence)
                subject:
                  title: BeaconStatementSubject
                  type: object
                  properties:
                    id:
                      type: string
                      description: |
                        CURIE-encoded identifier of concept
                    name:
                      type: string
                      description: human readable label of subject concept
                    type:
                      type: string
                      description: >
                        a semantic group for the subject concept (specified as a
                        code gene, pathway, disease, etc. - see [Biolink
                        Model](https://biolink.github.io/biolink-model) for the
                        full list of codes)
                predicate:
                  title: BeaconStatementPredicate
                  type: object
                  properties:
                    id:
                      type: string
                      description: |
                        CURIE-encoded identifier of predicate resource
                    name:
                      type: string
                      description: human readable label of concept
                object:
                  title: BeaconStatementObject
                  type: object
                  properties:
                    id:
                      type: string
                      description: |
                        CURIE-encoded identifier of object concept
                    name:
                      type: string
                      description: human readable label of object concept
                    type:
                      type: string
                      description: >
                        a semantic group for the object concept (specified as a
                        code gene, pathway, disease, etc. - see [Biolink
                        Model](https://biolink.github.io/biolink-model) for the
                        full list of codes)
          examples:
            application/json:
              - source: semmeddb
                id: 'kb:12345'
                subject:
                  id:
                    - 'wd:Q14912054'
                  name: KCNJ11
                  type: gene
                predicate:
                  id:
                    - 'kbp:10'
                  name: Causes
                object:
                  id:
                    - 'wd:Q2898645'
                  name: Neonatal diabetes mellitus
                  type: disease
  '/evidence/{statementId}':
    get:
      description: >
        Retrieves a (paged) list of annotations cited as evidence for a
        specified concept-relationship statement
      tags:
        - statements
      parameters:
        - name: statementId
          in: path
          description: >
            (url-encoded) CURIE identifier of the concept-relationship statement
            ("assertion", "claim") for which associated evidence is sought
          required: true
          type: string
        - name: keywords
          in: query
          description: >
            (url-encoded, space delimited) keyword filter to apply against the
            label field of the annotation
          required: false
          type: string
        - name: pageNumber
          in: query
          description: |
            (1-based) number of the page to be returned in a paged set of query
            results
          required: false
          type: integer
        - name: pageSize
          in: query
          description: >
            number of cited references per page to be returned in a paged set of
            query results
          required: false
          type: integer
      operationId: getEvidence
      responses:
        '200':
          description: |
            successful call returns a list of annotation with metadata
          schema:
            type: array
            items:
              title: BeaconAnnotation
              type: object
              properties:
                id:
                  type: string
                  description: >
                    CURIE-encoded identifier to an associated external resources
                    (e.g. PMID of a pubmed citation)
                label:
                  type: string
                  description: >
                    canonical human readable and searchable label of the
                    annotation (i.e. comment, matched sentence, etc.)
                type:
                  type: string
                  description: >
                    Gene Ontology Evidence Code
                    (http://www.geneontology.org/page/guide-go-evidence-codes)
                date:
                  type: string
                  description: >
                    publication date of annotation (generally of format
                    'yyyy-mm-dd')
          examples:
            application/json:
              - id:
                  - 'pmid:22781086'
                label: >-
                  Neonatal diabetes mellitus and congenital diaphragmatic hernia
                  coincidence or concurrent etiology?
                type: TAS
                date: 2012-07-10T00:00:00.000Z
